* {
  font-family: sans-serif;
}

body {
  background-color: rgba(178, 236, 222, 0.7);
}

.container1 {
  width: 26vw;
  height: 48.5vh;
  border: 1px solid black;
  margin-left: 32vw;
  padding: 3vw 3vh;
  margin-top: 15vh;
  background: linear-gradient(
    rgb(247, 176, 247),
    rgb(111, 199, 177),
    rgb(183, 183, 240)
  );
  border-radius: 15px;
  border-style: none;
  box-shadow: 20px 22px 23px gray;
}

.login_title {
  margin-left: 10px;
}

.login-body {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.input {
  width: 21vw;
  padding: 8px 8px;
  font-size: 16px;
  border-radius: 6px;
}

.label {
  margin: 4px;
}

.checkbox {
  margin-top: 22px;
  margin-left: -23vw;
}

.remember {
  margin-left: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.login-btn1 {
  padding: 5px 5px;
  width: 22vw;
  color: black;
  font-weight: 300;
  border-radius: 5px;
  border-style: none;
  margin-left: 0.5vw;
  margin-top: 1.5vh;
  padding: 0.9vw 0.9vh;
}
.login-btn1:hover {
  background-color: #1098ad;
  color: white;
}

.forgot {
  margin-left: 18vw;
  font-size: 12px;
}

.login-footer {
  margin-top: 0.2vh;
  margin-left: 5vw;
}

.error {
  font-size: 0.7em;
  color: red;
}

.register_footer {
  margin-top: 5vh;
  font-size: 0.9rem;
  margin-left: 1vw;
}

.register_span {
  text-decoration: underline;
  padding: 5px;
  cursor: pointer;
  color: red;
}

.show {
  position: absolute;
  font-size: 0.7rem;
  margin-left: 20vw;
  margin-top: 16.5vh;
  cursor: pointer;
}

.show1 {
  position: absolute;
  font-size: 0.7rem;
  margin-left: 20vw;
  margin-top: 26.5vh;
  cursor: pointer;
}
