.todos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: -30vw;
  flex-wrap: wrap;
}

.todolist-body {
  height: 100%;
  padding: 10px 10px;
  border: 1px solid black;
  font-family: sans-serif;
  color: black;
  background-color: whitesmoke;
  box-shadow: 8px 15px 8px gray;
  border-radius: 10px;
  position: relative;
  animation: myfirst 1s 2;
}
.todolist-body > button {
  margin-left: 15px;
}

@keyframes myfirst {
  0% {
    background: red;
    left: 0px;
    top: 0px;
  }
}
.todolist-body button {
  color: white;
  background-color: red;
  padding: 5px 5px;
  border-style: none;
  border-radius: 5px;
}
